:root {
    --text-color: rgb(33, 33, 33);
    --text-color-secondary: rgb(117, 117, 117);
    --primary-color: #059ad3;
}
  
.border-round-md {
    border-radius: 0.375rem;
}
.border-round-lg {
    border-radius: 0.5rem;
}
.border-round-xl {
    border-radius: 0.75rem;
}
.border-round-2xl {
    border-radius: 1rem;
}