html, body {
    width: 100%;
    height: 100%;
    color: var(--text-color);
}
html {
    font-family: var(--font-family);
    font-size: 16px;
}
body {
    margin: 0;
    background-color: var(--surface-ground);
}
a, a:link, a:visited, a:hover {
    text-decoration: none;
}
a:link, a:visited {
    color: var(--primary-color);
}
a:hover {
    opacity: 0.87;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}