a.img:hover {
  opacity: 0.96;
}

label.cateogry-label__bgcolor {
  background: linear-gradient(to right, #43D891, #3F82D1);
}

$primary-graident: linear-gradient(to right, #43D891, #3F82D1);
$secondary-graident: linear-gradient(to right, #FFB800, #FF8A00);

.bg-primary-gradieht {
  background: $primary-graident;
}

.bg-secondary-gradieht {
  background: $secondary-graident;
}

.nav__categories {
  .category-culture a::after{ 
    content: '🦄';
  }

  .category-cafebreak a::after{ 
    content: '☕️';
  }
}